.container {
    padding-left: 30px;
}

.container h1 {
    color: rgb(60, 118, 228);
}

.header-content {
    text-align: center;
    background-color: aliceblue;
    padding: 30px;
}

.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.cart-container {
    background-color: white;
}

.activities-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}

/* media queries */
@media only screen and (max-width: 1920px) {

    .activities-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;

    }
}

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        padding-left: 0;
        margin-left: 2px;
    }

    .activities-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;

    }

    .shop-container {
        display: grid;
        grid-template-columns: 2fr;
    }

    .main-content {
        padding: 15px;
    }
}

/* smaller device  */
@media screen and (max-width: 576px) {

    .activities-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;

    }

    .shop-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}